<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Beam | personal finance data visualizer</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="./static/style.css" type="text/css" rel="stylesheet" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body>
        <main class="main container">
            <div class="initial-view">
                    <header class="initial-view-header">
                        <h1>BEAM</h1>
                        <p><strong>a personal finance data visualizer</strong></p>
                    </header>
                    <p class="initial-view-description">
                        Click the button below to open a list of Institutions. After you
                        select one, you’ll be guided through an authentication process.
                        Use username
                        <strong>user_good</strong> and password
                        <strong>pass_good</strong>.
                    </p>
                    <button id="link-btn" class="btn btn-primary btn-lg" disabled>
                        Connect with Plaid
                    </button>
                </div>
            </div>
            <div class="app container">
                <header>
                    <h1>BEAM</h1>
                    <p>a personal finance data visualizer</p>
                </header>
                <div class="row pt-3">
                    <div class="dropdown col-md-8">
                        <a class="btn btn-outline-dark btn-lg dropdown-toggle disabled" href="#" role="button" id="accountSelectionMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                          Loading accounts...
                        </a>
                        <ul class="dropdown-menu" id="accountSelectionMenuList" aria-labelledby="accountSelectionMenuLink">
                        </ul>
                        <p><small>Beam only supports checking, savings, and credit accounts.</small></p>
                    </div>
                    <div class="dropdown col">
                        <a class="btn btn-outline-dark btn-lg dropdown-toggle float-end" role="button" id="intervalSelectionMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                          Past month
                        </a>
                        <ul class="dropdown-menu" id="accountSelectionMenuList" aria-labelledby="intervalSelectionMenuLink">
                          <li><a class="dropdown-item">Past three months</a></li>
                          <li><a class="dropdown-item">Past six months</a></li>
                          <li><a class="dropdown-item">Past nine months</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col">
                        <h3>Money delta:</h3>
                        <p class="h2" id="money-delta">$0.00</p>
                    </div>
                    <div class="col">
                        <h3>Total spent:</h3>
                        <p class="h2" id="money-spent">$0.00</p>
                    </div>
                    <div class="col">
                        <h3>Total income:</h3>
                        <p class="h2" id="money-income">$0.00</p>
                    </div>
                </div>
                <div class="transactions-word-cloud">
                </div>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

        <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>

        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="./static/d3.layout.cloud.js"></script>
        <script>
            let transactionsData;
            let selectedAccount;
            let selectedInterval = 'THREE_MONTHS';


            function render_page($, page_info) {
                var products = page_info.products;
                var handler = null;

                if (page_info.access_token) {
                    $(".initial-view").fadeOut("fast", function () {
                        $(".app").fadeIn("slow");
                        getTransactionsData();
                    })
                }

                $.post("/api/create_link_token", {}, function (data) {
                    if (data.error != null) {
                        displayError($(".container"), data.error);
                        return;
                    }
                    localStorage.setItem("link_token", data.link_token);
                    handler = Plaid.create({
                        token: data.link_token,
                        onSuccess: function(public_token) {
                            $.post(
                                "/api/set_access_token",
                                {
                                    public_token: public_token
                                },
                                function (data) {
                                    $(".initial-view").fadeOut("fast", function () {
                                        $(".app").fadeIn("slow");
                                        getTransactionsData();
                                    })
                                }
                            );
                        }
                    });
                    $("#link-btn").attr("disabled", false)
                });

                $("#link-btn").on("click", function (e) {
                    if (handler != null) {
                        handler.open();
                    }
                });
            }

            function getTransactionsData(days=120) {
                $.get(`/api/transactions?days=${days}`, function (data) {
                    if (data.error != null && data.error.error_code != null) {
                        // Format the error
                        var errorHtml =
                        '<div class="inner"><p>' +
                        "<strong>" +
                        data.error.error_code +
                        ":</strong> " +
                        (data.error.display_message == null
                            ? data.error.error_message
                            : data.error.display_message) +
                        "</p></div>";

                        if (data.error.error_code === "PRODUCT_NOT_READY") {
                            // Add additional context for `PRODUCT_NOT_READY` errors
                            errorHtml +=
                            '<div class="inner"><p>Note: The PRODUCT_NOT_READY ' +
                            "error is returned when a request to retrieve Transaction data " +
                            "is made before Plaid finishes the initial transaction pull</p></div>";
                        }
                        // Render the error
                        $(".app").slideUp(function () {
                            $(this).slideUp(function () {
                                $(this).html(errorHtml).slideDown();
                            });
                        });
                    }

                    populateAccountSelectionMenu(data.accounts);
                    transactionsData = data;

                    renderAccount(data.accounts[0]);
                });
            }

            const renderAccount = function (account) {
                const transactions = transactionsData.transactions.filter(transaction => {
                        return account.account_id === transaction.account_id;
                });

                const transactionsWordArray = getTransactionsWordArray(transactions);
                displayWordCloud(transactionsWordArray);
                displayAmountsFluctuation(transactions);
            }

            function displayAmountsFluctuation(transactions) {
                let spent = 0;
                let income = 0;

                transactions.forEach(transaction => {
                    if (transaction.amount > 0) {
                        spent += transaction.amount * 100;
                    } else {
                        income += transaction.amount * 100;
                    }
                })

                income *= -1;
                spent *= -1;
                $("#money-delta").html(`<p class="h2">$${((income + spent) / 100).toLocaleString()}</h2>`);
                $("#money-spent").html(`<p class="h2">$${((spent) / 100).toLocaleString()}</h2>`);
                $("#money-income").html(`<p class="h2">$${((income) / 100).toLocaleString()}</h2>`);
            }

            function getTransactionsWordArray(transactions) {
                const transactionsWordMap = {};

                transactions
                    .forEach(transaction => {
                        const name = transaction.merchant_name || transaction.name;
                        if ( transactionsWordMap[name] ) {
                            transactionsWordMap[name] += transaction.amount * 100;
                        } else {
                            transactionsWordMap[name] = transaction.amount * 100;
                        }
                    })

                var transactionsWordArray = [];

                for (let name in transactionsWordMap) {
                    if (transactionsWordMap[name] <= 0) continue;
                    transactionsWordMap[name] = transactionsWordMap[name] / 100;
                    transactionsWordArray.push({
                        name: name,
                        amount: transactionsWordMap[name]
                    })
                }
                return transactionsWordArray;
            }

            function populateAccountSelectionMenu(accounts) {
                if (accounts.length === 0) return;

                $("#accountSelectionMenuLink").removeClass("disabled")
                accounts.forEach((account, idx) => {
                    const text = `${account["official_name"] || account.name} - ${account.mask}`
                    if (idx === 0) {
                        console.log(account)
                        $("#accountSelectionMenuLink")
                        .text(text)
                    } else {
                        $("#accountSelectionMenuList")
                            .append(`<li><a class="dropdown-item">${text}</a></li>`)
                    }
                })
            }

            function displayWordCloud(transactionsWordArray) {
                var margin = { top: 30, right: 50, bottom: 30, left: 50 };
                var width = 960 - margin.left - margin.right;
                var height = 500 - margin.top - margin.bottom;

                var g = d3.select(".transactions-word-cloud")
                    .append("svg")
                    .attr("height", 960)
                    .attr("height", 500)
                    .append("g")
                    .attr("transform", `translate(${margin.left}, ${margin.top})`)

                var transactionScale = d3.scaleLinear()
                    .domain([
                        d3.min(transactionsWordArray, transaction => transaction.amount ),
                        d3.max(transactionsWordArray, transaction => transaction.amount )
                    ])
                    .range([ 20, 200 ])

                var layout = d3.layout.cloud()
                    .size([width, height])
                    .timeInterval(20)
                    .words(transactionsWordArray)
                    .rotate( d => 0 )
                    .fontSize( d => transactionScale(d.amount) )
                    .fontWeight(["bold"])
                    .text(d => d.name)
                    .spiral("rectangular") // "archimedean" or "rectangular"
                    .on("end", draw)
                    .start()

                var transactionWordCloud = g.append("g")
                    .attr("class", "wordcloud")
                    .attr("transform", `translate(${width / 2}, ${height / 2})`)

                g.append("g")
                    .attr("class", "axis")
                    .attr("transform", `translate(0,${height})`)
                    .selectAll('text')

                function draw(transactionsWordArray) {
                    transactionWordCloud.selectAll("text")
                        .data(transactionsWordArray)
                        .enter().append("text")
                        .attr('class', 'word')
                        .style('font-size', d => `${d.size}px` )
                        .attr("text-anchor", "middle")
                        .attr("transform", d =>  `translate(${[d.x, d.y]})rotate(${d.rotate})`)
                        .text(d => d.text)
                }

            }

            $.post("/api/info", {}, function (result) {
                render_page(jQuery, result)
            });


            function displayError(element, error) {
                var html = `
                    <div class="alert alert-danger">
                        <p><strong>Error Code:</strong> ${error.error_code}</p>
                        <p><strong>Error Type:</strong> ${error.error_type}</p>
                        <p><strong>Error Message:</strong> ${
                            error.display_message == null
                                ? error.error_message
                                : error.display_message
                        }</p>
                    </div>
                `;
                $(element).html(html).slideDown();
            }
        </script>
    </body>
</html>
