<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Beam | personal finance data visualizer</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="./static/style.css" rel="stylesheet" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body>
        <main class="text-center container">
            <header>
                <h1>BEAM</h1>
                <p>a personal finance data visualizer</p>
            </header>
            <div class="initial-view">
                <p class="initial-view__description">
                    Click the button below to open a list of Institutions. After you
                    select one, you’ll be guided through an authentication process.
                    Use username
                    <strong>user_good</strong> and password
                    <strong>pass_good</strong>.
                </p>
            </div>
            <button id="link-btn" class="btn btn-primary btn-lg" disabled>
                Connect with Plaid
            </button>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
        <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
        <script>
            function render_page($, page_info) {
                console.log(page_info)
            }

            $.post("/api/info", {}, function (result) {
                render_page(jQuery, result)
            });
        </script>
    </body>
</html>
