<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="author" content="Neil Ricci">

      <title>Beam, a personal finance visualizer</title>

      <!-- Bootstrap core CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

      <link rel="stylesheet" type="text/css" href="/css/profile.css">
  </head>
  <body>
    <div class="container px-4 py-4">
      <header class="d-flex justify-content-between border-bottom pb-3">
        <div>
          <h1>Beam</h1>
        </div>
        <div>
          <button type="button" class="btn btn-outline-dark" id="sign-out">Sign out</button>
        </div>
      </header>
      <main class="row py-3">
        <div class="col-md-6">
          <h1 id="greeting" class="display-2">Greetings</h1>
          <p id="date" class="h3 text-muted"></p>
        </div>
        <div class="d-grid gap-2 col-md-6 mx-auto my-3">
          <p class="h2">Connected accounts</p>
          <div id="items">

          </div>
          <button id="link-btn" class="btn btn-lg btn-dark my-4" type="button" disabled>Connect through Plaid</button>
        </div>
      </main>
    </div>

    <script src="/js/jquery.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- The core Firebase JS SDK -->
    <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-app.js"></script>

    <!-- Firebase products
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-auth.js"></script>

    <script>
      // App's Firebase configuration
      const firebaseConfig = {
        apiKey: "AIzaSyCpUO4xRTzabMqfxfEPU7HlUVO22yfyb3A",
        authDomain: "beam-94bf1.firebaseapp.com",
        projectId: "beam-94bf1",
        storageBucket: "beam-94bf1.appspot.com",
        messagingSenderId: "119980617646",
        appId: "1:119980617646:web:74d17808d0aaf52161223f",
        measurementId: "G-LVZ03X1S6X"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>

    <script>
      $(function() {
        $(".container").fadeIn()
        $("#sign-out").click((param) => {
          firebase.auth().signOut();
        })

        firebase.auth().onAuthStateChanged((user) => {
          if (user) {
            const uid = user.uid;
            getUser(uid)
            getLinkToken(uid)
            $('#greeting').text('Greetings, ' + user.displayName)
            $('#date').text(new Date().toDateString())
          } else {
            location.href = '/';
          }
        });
      });

    </script>

    <script src="/data/financialData.js"></script>

    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>

    <script>
      function getLinkToken(uid) {
        fetch('/api/link_token/get', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify( {"uid": uid } ),
        })
        .then(response => response.json())
        .then(data => initializeLinkSession(data.link_token, uid))
        .catch(err => console.error(err))
      }

      function initializeLinkSession(linkToken, uid) {
        const handler = Plaid.create({
          token: linkToken,
          onSuccess: (public_token, metadata) => {
            console.log("Public token received")
            fetch('/api/access_token/set', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify( {
                "public_token": public_token,
                "uid": uid
              } ),
            })
            .then(response => response.json())
            .then(result => {
              console.log("result", result)
              getItem(result.item_id, uid)
            })
          },
          onLoad: () => {},
          onExit: (err, metadata) => {
            console.log(err)
          },
          onEvent: (eventName, metadata) => {
            console.log(eventName)
            console.log(metadata)
          },
          receivedRedirectUri: null,
        });

        $('#link-btn').on('click', function(e) {
          if (handler != null) {
            handler.open();
          }
        });

        $('#link-btn').attr('disabled', false);
      }

      function getUser(uid) {
        fetch('/api/user/get', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify( {
            "uid": uid
          } ),
        })
        .then(response => response.json())
        .then(user => {
          if (user.item_ids === undefined) {
            $("#items-display").append(`
              <p class="lead">
                You have not connected any of your bank accounts through Plaid yet. Do so and let Beam provide insight into your personal finances.
              </p>
            `)
          } else {
            user.item_ids.forEach(item_id => {
              getItem(item_id, uid)
            })
          }
        })
        .catch(err => console.error(err))
      }


      function getItem(item_id, uid) {
        fetch('/api/item/get', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            uid: uid,
            item_id: item_id
          })
        })
        .then(response => response.json())
        .then(itemObject => {
          displayItem(itemObject, uid)
          getAccounts(itemObject.item_id, uid)
        })
        .catch(err => console.error(err))
      }

      function displayItem(itemObject) {
        const lastSuccessfulUpdate = new Date(
          itemObject.status.transactions.last_successful_update.substring(0, 10)
        )
        const itemHtml = `
          <div id="item-${itemObject.item_id}" class="card">
            <div class="card-body">
              <h5 class="card-title">${itemObject.institution.name}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Last updated: ${lastSuccessfulUpdate.toDateString()}</h6>
            </div>
          </div>
        `
        $('#items').append(itemHtml)
      }

      function getAccounts(item_id, uid) {
        fetch('/api/accounts/get', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            uid: uid,
            item_id: item_id
          })
        })
        .then(response => response.json())
        .then(data => {
          console.log("accounts", data)
        })
        .catch(err => console.error(err))
      }

    </script>
  </body>
</html>
