<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>BEAM - a personal finance visualizer</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/profile.css">

  </head>

  <body>

    <nav class="navbar border-bottom py-3 mt-2">
      <div class="container">
        <span class="navbar-brand mb-0 h1">BEAM</span>
        <button id="sign-out" class="btn btn-sm btn-outline-dark me-2" type="button">Sign Out</button>
      </div>
    </nav>

    <div id="initial-spinner" class="container text-center mt-5">
      <div class="spinner-grow text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>


    <main id="main-content" class="container">
      <header class="py-3 text-center">
        <p id="greeting" class="h3 mt-4"></p>
        <p id="greeting-date" class="h5 fw-light"></p>
      </header>

      <div class="row">
          <div class="col-md-6">

            <div class="interval-selection">
              <p class="fs-3">Let's take a look at...</p>
              <div class="dropdown">
                <button class="btn btn-lg btn-light dropdown-toggle w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  the past week.
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item active" href="#">the past week</a></li>
                  <li><a class="dropdown-item" href="#">the past month</a></li>
                  <li><a class="dropdown-item" href="#">the past six months</a></li>
                </ul>
              </div>
            </div>

            <div class="displayed-accounts mt-5">
              <p class="h2 ">Displayed Accounts</p>
              <p class="fw-light">Only checking, savings, and credit card accounts are supported.</p>
              <div class="mt-3">
                <header class="d-flex justify-content-between">
                  <div>
                    <p class="h5">Bank of America</p>
                    <p class="fw-lighter">Last updated: Today</p>
                  </div>
                  <div>
                    <button type="button" class="my-auto btn btn-sm btn-outline-danger">Disconnect</button>
                  </div>
                </header>
                <div class="list-group">
                  <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    Checkings Plus Account
                  </label>
                  <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    Savings Account
                  </label>
                </div>
              </div>
              <div class="mt-3">
                <header class="d-flex justify-content-between">
                  <div>
                    <p class="h5">Chase</p>
                    <p class="fw-lighter">Last updated: Today</p>
                  </div>
                  <div>
                    <button type="button" class="btn btn-sm btn-outline-danger">Disconnect</button>
                  </div>
                </header>
                <div class="list-group">
                  <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    Lemonade Stand Business Account
                  </label>
                </div>
              </div>
              <!-- <p class="fw-light">You have not connected any accounts yet 😕</p> -->
            </div>
            <div class="text-center">
              <div id="link-btn-spinner" class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <button id="link-btn" type="button" class="btn btn-primary w-100 mt-3">Connect your bank via Plaid</button>
            </div>
          </div>



          <div class="col-md-6">
            <canvas id="chart" width="400" height="400"></canvas>
          </div>
      </div>
    </main>

    <script src="/static/jQuery.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-auth.js"></script>

    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>

    <script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js'></script>

    <script>
      var firebaseConfig = {
          apiKey: "AIzaSyC1AE6LT8ZBPqYIWZJ4Pbs28TqW5oSnwWg",
          authDomain: "beam-fdfaa.firebaseapp.com",
          databaseURL: "https://beam-fdfaa-default-rtdb.firebaseio.com",
          projectId: "beam-fdfaa",
          appId: "1:511819629561:web:40ba9a255c0373cccc7328",
          measurementId: "G-E66W95H373"
      };

      firebase.initializeApp(firebaseConfig);
      firebase.analytics();

      firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          $("#initial-spinner").hide();
          $("#greeting").text("Welcome 👋, " + user.displayName + "!");
          $("#greeting-date").text(new Date().toDateString())
          $("#main-content").fadeIn("slow");
          createLinkToken(user.uid);
          getAccounts(user.uid);
        } else {
          window.location.replace('/');
        }
      });

      $("#sign-out").click(function() {
        firebase.auth().signOut().then(() => {
          window.location.replace('/')
        }).catch((error) => {
          console.log(error);
        });
      });

      var handler = null;

      function createLinkToken(uid) {
        fetch('/api/create_link_token', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ 'uid': uid })
        })
        .then(response => response.json())
        .then(data => {
          console.log("Successful POST request to /api/create_link_token")
          console.log("  Response:", data);

          if (data.error != null) {

          }

          handler = Plaid.create({
            token: data.link_token,
            onSuccess: function(public_token) {
              $.post(
                "/api/set_access_token",
                {
                  public_token: public_token,
                  uid: uid
                },
                function (data) {
                  console.log("Successful POST request to /api/set_access_token")
                  console.log("  Response:", data)
                }
              );
            }
          })

          $("#link-btn").on("click", function (e) {
            if (handler != null) {
              handler.open();
            }
          });

          $("#link-btn-spinner").hide();
          $("#link-btn").fadeIn();
        })
      }



      function getTransactions(uid, item_id, numberOfDays) {
        fetch('/api/transactions/get', {
          method: 'POST',
          headers: {
            'Content-Type': 'applications/json'
          },
          body: JSON.stringify({ 'uid': uid })
        })
        .then(response => response.json())
        .then(data => {
          console.log("Successful POST request to /api/transactions/get");
          console.log("  Response:", data);
        })
      }

      function getAccounts(uid) {
        fetch('/api/accounts/get', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ 'uid': uid })
        })
        .then(response => response.json())
        .then(data => {
          console.log("Successful POST request to /api/accounts/get")
          console.log("  Response:", data);

        })
      }




    </script>
  </body>
</html>
